<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

h1{
   height: 35x;
   width: 800px;
   background-color:gold;
   color: white;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: black;
}
th {
  background-color: darkgray;
}
    </style>
</head>
<body>
</div><br><br><br><br><br><br><br>
<div class="container">
<center><h1> Table Orders</h1></center>
<table border="1" height="200" width="800" align="center" >
<tr align="center" background-color="blue">
    <th >s.no</th>  <th>Table Name</th>   <th>Order ID</th>  <th>Items</th>   <th>Time</th>
</tr>
<tr align="center" >
    <td>1</td>  <td>TB 1</td>   <td>ORD130</td>  <td> 2 Items</td>   <td>12:00PM</td>
</tr>
    <tr align="center">
    <td>2</td>  <td>TB 2</td>   <td>ORD 131</td>  <td> 4 Items</td>   <td>1:00PM</td>
</tr>
    <tr align="center">
    <td>3</td>  <td>TB 3</td>   <td>ORD 132</td>  <td> 5 Items</td>   <td>2:00PM</td>
</tr>

<table>
</div>
</body>
</html>